{:paths ["."]
 :deps {io.github.joakimen/fzf.clj {:git/sha "7191bec2baab0677657e7303a60b441ab04de6b3"
                                    :git/url "https://github.com/joakimen/fzf.clj"}
        zprint/zprint {:mvn/version "1.2.8"}}}
